<script type='text/javascript'>
function NewAccount2(text, id, cm){
   $("#clonemenewaccount").clone().dialog({
      open: function(e, ui){
         $(this).attr('id', 'clonenewaccount');
         $('#clonenewaccount #cloneinput').focus();
         $('#clonenewaccount').removeClass('hideme');
      },
      close: function(e, ui){
         $(this).remove();
      }
   });
}

function SubmitAccount(){
   var name = $('#clonenewaccount #cloneinput').val();
   $('#clonenewaccount').remove();
   if (name){
      // update the database
      $.getJSON('ajax.py', {'mode':'Finance', 'cm':'JsonAddAccount', 'name':name}, function(data){
         // put in the new option
         $('.accountid').append('<option value="' + data['id'] + '">' + data['name'] + '</option>');
      });
   }
}

<TMPL_IF boolfamilies>
$(document).ready(function(){
   NewRow()

   $('#totalamount').change(function(){
      CalculateRemainder();
   });

   $('.amount').live('change', function(){
      CalculateRemainder();
   });

   $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      changeMonth: true,
      changeYear: true
   });

});

function NewRow(){
   var row = $('#cloneme').clone();
   row.attr('id', '');
   row.removeClass('hideme');
   $('#allocations').append(row);
}

function CalculateRemainder(){
   var total = $('#totalamount').val();
   total = GetFloat(total)
   $('#totalamount').val(AddCommas(total));

   $('.amount').each(function(){
      var one = GetFloat($(this).val());
      total -= one
      $(this).val(AddCommas(one));
   });

   $('.remainder').html(AddCommas(total));

   if (total==0){
      $('#savebutton').removeClass('hideme');
      $('#savedescription').addClass('hideme');
   } else {
      $('#savebutton').addClass('hideme');
      $('#savedescription').removeClass('hideme');
   }

}

function GetFloat(val){
   if (val.match(/\d/)) {
      val = val.replace(/[^-\d.]/g, '')
      val = parseFloat(val)
      return val;
   } else {
      return 0;
   }
};

function AddCommas(num){
   // vars
   num += '';
   var parts = num.split('.');
   var interger = parts[0];
   var decimal = parts.length > 1 ? '.' + parts[1] : '';
   var regex = /(\d+)(\d{3})/;

   // one comma at a time
   while (regex.test(interger)) {
      interger = interger.replace(regex, '$1' + ',' + '$2');
   }

   // add a trailing zeros
   if (decimal.length==0){
      decimal = '.00';
   }

   if (decimal.length==2){
      decimal += '0';
   }

   // concat
   return interger + decimal;
}
</TMPL_IF>
</script>

<style type='text/css'>
label {
   font-weight: bold;
   padding-right: 5px;
   padding-top: 4px;
}
#addtransaction {
   text-align: center;
}
.amount {
   text-align: right;
}
</style>

<div id='clonemenewaccount' class='hideme'>
   Please put in the name of the new account.<br>
   <input type='text' id='cloneinput'><br>
   <button style='float: right;' type='button' onClick="SubmitAccount()">Ok</button>
   </form>
</div>

<div id='addtransaction'>
   <form action='?' method='post'>
      <input type='hidden' name='mode' value='Finance'>
      <input type='hidden' name='cm' value='AddTransaction'>
      <p>
      <label>Amount</label>
      <TMPL_IF boolfamilies>
      <input type='text' value='0.00' id='totalamount'>
      <TMPL_ELSE>
      <input type='text' value='0.00' name='amount'>
      </TMPL_IF>
      </p>

      <p>
      <label>Description</label>
      <input type='text' name="description">
      </p>

      <p>
      <label>Date And Time</label>
      <input type='text' name='date' class='datepicker'>

      <select name='hour'>
         <option value='01'>01</option>
         <option value='02'>02</option>
         <option value='03'>03</option>
         <option value='04'>04</option>
         <option value='05'>05</option>
         <option value='06'>06</option>
         <option value='07'>07</option>
         <option value='08'>08</option>
         <option value='09'>09</option>
         <option value='10'>10</option>
         <option value='11'>11</option>
         <option value='12'>12</option>
      </select>

      <select name='minute'>
         <option value='00'>00</option>
         <option value='01'>01</option>
         <option value='02'>02</option>
         <option value='03'>03</option>
         <option value='04'>04</option>
         <option value='05'>05</option>
         <option value='06'>06</option>
         <option value='07'>07</option>
         <option value='08'>08</option>
         <option value='09'>09</option>
         <option value='10'>10</option>
         <option value='11'>11</option>
         <option value='12'>12</option>
         <option value='13'>13</option>
         <option value='14'>14</option>
         <option value='15'>15</option>
         <option value='16'>16</option>
         <option value='17'>17</option>
         <option value='18'>18</option>
         <option value='19'>19</option>
         <option value='20'>20</option>
         <option value='21'>21</option>
         <option value='22'>22</option>
         <option value='23'>23</option>
         <option value='24'>24</option>
         <option value='25'>25</option>
         <option value='26'>26</option>
         <option value='27'>27</option>
         <option value='28'>28</option>
         <option value='29'>29</option>
         <option value='30'>30</option>
         <option value='31'>31</option>
         <option value='32'>32</option>
         <option value='33'>33</option>
         <option value='34'>34</option>
         <option value='35'>35</option>
         <option value='36'>36</option>
         <option value='37'>37</option>
         <option value='38'>38</option>
         <option value='39'>39</option>
         <option value='40'>30</option>
         <option value='41'>41</option>
         <option value='42'>42</option>
         <option value='43'>43</option>
         <option value='44'>44</option>
         <option value='45'>45</option>
         <option value='46'>46</option>
         <option value='47'>47</option>
         <option value='48'>48</option>
         <option value='49'>49</option>
         <option value='50'>50</option>
         <option value='51'>51</option>
         <option value='52'>52</option>
         <option value='53'>53</option>
         <option value='54'>54</option>
         <option value='55'>55</option>
         <option value='56'>56</option>
         <option value='57'>57</option>
         <option value='58'>58</option>
         <option value='59'>59</option>
      </select>

      <select name='ampm'>
         <option value='am'>am</option>
         <option value='pm'>pm</option>
      </select>

      <br>

      <i>(leave date blank to use current time)</i>
      </p>

      <p><button type='button' onClick="NewAccount2()">New Account</button></p>

      <TMPL_IF boolfamilies>
      <button type='button' class='floatr' onClick="NewRow()">New Row</button>
      <span class='floatr' style='font-size: 22px; font-weight: bold; padding-right: 10px;'>Remainder <span class='remainder'>0.00</span></span>

      <table id='allocations' class='tablesorter'>
         <thead>
            <th>Who Gave</th>
            <th>Account</th>
            <th>Amount</th>
         </thead>
         <tr id='cloneme' class='hideme'>
            <td>
               <select name='memberid'>
                  <option value='0'>Nobody</option>
                  <TMPL_LOOP Members>
                  <option value="<TMPL_VAR id>">
                     <TMPL_VAR firstname> <TMPL_VAR secondname> <TMPL_VAR lastname>
                  </option>
                  </TMPL_LOOP>
               </select>
            </td>
            <td>
               <select name="accountid" class='accountid'>
                  <TMPL_LOOP Accounts>
                  <option value="<TMPL_VAR id>"><TMPL_VAR name></option>
                  </TMPL_LOOP>
               </select>
            </td>
            <td>
               <input type='text' class='amount' name='amount' value='0.00'>
            </td>
         </tr>
      </table>
      <button type='button' class='floatr' onClick="NewRow()">New Row</button>
      <span class='floatr' style='font-size: 22px; font-weight: bold; padding-right: 10px;'>Remainder <span class='remainder'>0.00</span></span>
      <br><br>


      <br><br>
      <span id='savedescription'><i>You can save when you have an amount and the remainder is 0.00</i></span>
      <button type='submit' class='hideme' id='savebutton'>Save</button>
      <TMPL_ELSE>
      <!-- no families means all transactions are one allocation -->

      <p>
         <select name='accountid' class='accountid'>
            <TMPL_LOOP Accounts>
            <option value="<TMPL_VAR id>"><TMPL_VAR name></option>
            </TMPL_LOOP>
         </select>
      </p>

      <button type='submit' id='savebutton'>Save</button>

      </TMPL_IF>
   </form>
</div>

