/* FONT COLORS */
#outside, #header, #quickaddsidenav {
   color: #000000;
}
body, a {
   color: #000000;
}

/* CURRENT PAGES & HOVERS */
.current, .currentpage, #navul li a:hover, #sidenav li a:hover {
   text-decoration: underline;
}

/* BACKGROUND COLORS */
body {
   background: #8c04a8;
}
#nav, #sidenavdiv, #content, #footer {
   background: #FFC500;
   border: 2px solid #000000;
}
.tablesorter .even {	background-color: #353535;}
