#nav {
   margin-top: 5px;
}
#maincontent, #footer {
   margin-top: 18px;
}
#sidenavdiv {
   width: 186px;
   margin-right: 6px;
}
#quickaddsidenav {
   top: 47px;
}
.rounded {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   /*
   -webkit-border-top-left-radius: 10px;
   -webkit-border-top-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   -webkit-border-bottom-left-radius: 10px;
   -moz-border-radius-topleft: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-bottomright: 10px;
   -moz-border-radius-bottomleft: 10px;
   */
}


